<div class="navtabs-container">
    <nav mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center" class="myclass mat-tab-links">
      <a mat-tab-link routerLink="/" routerLinkActive="active"
      >Home
      </a>
      <a mat-tab-link routerLink="/accomodation" routerLinkActive="active"
     >Accomodation
      </a>
     
      <a mat-tab-link routerLink="/foodandbeverage" routerLinkActive="active"
     >Food &amp; Beverage
      </a>
      <a mat-tab-link routerLink="/lifestyle" routerLinkActive="active"
     >Lifestyle
      </a>
      <a mat-tab-link routerLink="/celebrations" routerLinkActive="active"
     >Weddings
      </a>
      <a mat-tab-link routerLink="/offers" routerLinkActive="active"
    >Offers
      </a>
      
      </nav>
</div>



