.toolbar-flex{
    flex:1 0.5 auto;
}
.navtabs-container nav a{
    text-decoration: none;
    }
.navtabs-container nav a:hover{
    color: #000000;
}
.mat-tab-links {
    overflow:auto!important;
    min-width:100px!important;

}
.navtabs-container{
    background-color: #73fff3;
}