<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
    <mat-icon>hotel</mat-icon>
    <span>Accomodation</span>
  </a>
  <a mat-list-item routerLink="/foodandbeverage" (click)="onToggleClose()">
    <mat-icon>fastfood</mat-icon>
    <span>Food & Beverage</span>
  </a>
  <a mat-list-item routerLink="/lifestyle" (click)="onToggleClose()">
    <mat-icon>party_mode</mat-icon>
    <span>Lifestyle</span>
  </a>
  <a mat-list-item routerLink="/weddings" (click)="onToggleClose()">
    <mat-icon>wc</mat-icon>
    <span>weddings</span>
  </a>
  <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
    <mat-icon>loyalty</mat-icon>
    <span>Offers</span>
  </a>

</mat-nav-list>