<div class="main">
    <mat-card class="card">
        <h2><marquee behavior="alternate" direction="" scrollamount="10" onmouseout="start()" onmouseover="stop()">Find The best Rooms in Goa</marquee></h2>
      </mat-card>
      
</div>
<div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
    <mat-card class="mat-img single" fxFlex="30" fxFlex.sm="80">
      <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <h2>Single</h2>
      </mat-card-header>
      <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="warn" mat-raised-button
        matTooltip="Book the Room"
        aria-label="Button that displays a tooltip when focused or hovered over">Book Now</button>
        <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal1"><i class="fas fa-info-circle"></i>&nbsp; Info</button>
        
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-img twin" fxFlex="30" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>Twin</h2>
        </mat-card-header>
        <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="warn" mat-raised-button
            matTooltip="Book the Room"
            aria-label="Button that displays a tooltip when focused or hovered over">Book Now</button>
          <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal2" >Info</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-img tripple" fxFlex="30" fxFlex.sm="80">
          <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <h2>Tripple</h2>
          </mat-card-header>
          <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button color="warn" mat-raised-button
              matTooltip="Book the Room"
              aria-label="Button that displays a tooltip when focused or hovered over">Book Now</button>
            <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal3">Info</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="rooms-home-display " fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
      <mat-card class="mat-img king" fxFlex="30" fxFlex.sm="80">
        <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>King</h2>
        </mat-card-header>
        <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="warn" mat-raised-button
            matTooltip="Book the Room"
            aria-label="Button that displays a tooltip when focused or hovered over">Book Now</button>
          <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal4">Info</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="mat-img queen" fxFlex="30" fxFlex.sm="80">
          <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
            <h2>Queen</h2>
          </mat-card-header>
          <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
              <button mat-raised-button color="warn" mat-raised-button
              matTooltip="Book the Room"
              aria-label="Button that displays a tooltip when focused or hovered over">Book Now</button>
            <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal5" >Info</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="mat-img seaface" fxFlex="30" fxFlex.sm="80">
            <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
              <h2>Sea-Face</h2>
            </mat-card-header>
            <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="warn"  matTooltip="Book the Room"
                aria-label="Button that displays a tooltip when focused or hovered over" >Book Now</button>
              <button mat-raised-button color="primary" mat-raised-button
        matTooltip="Info about the Room"
        aria-label="Button that displays a tooltip when focused or hovered over" data-toggle="modal" data-target="#myModal6" >Info</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <!-- The Modal 1 -->
<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi (Not-available)</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 12 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; Single Bed</h5>
        <h5><i class="fas fa-temperature-low"></i>&nbsp; Cooler</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition (not-avaliable)</h5>
         <h5><i class="fa fa-tv"></i>&nbsp; TV</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-tshirt"></i>&nbsp; Laundry (Not-available) </h5>
         <h5><i class="fas fa-glass-cheers"></i>&nbsp; Minibar (Not-available)</h5>
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- modal 2 -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi Available</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 24 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; Double Bed</h5>
        <h5><i class="fas fa-temperature-low"></i>&nbsp; Cooler</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition </h5>
         <h5><i class="fa fa-tv"></i>&nbsp; LCD</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-tshirt"></i>&nbsp; Laundry (Not-available) </h5>
         <h5><i class="fas fa-glass-cheers"></i>&nbsp; Minibar (Not-available)</h5>
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- modal 3 -->
<div class="modal" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi Available</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 24 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; Tripple Bed</h5>
        <h5><i class="fas fa-temperature-low"></i>&nbsp; Cooler</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition </h5>
         <h5><i class="fa fa-tv"></i>&nbsp; LED</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-tshirt"></i>&nbsp; Laundry and dry cleaning </h5>
         <h5><i class="fas fa-glass-cheers"></i>&nbsp; Minibar (Not-available)</h5>
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- modal 4 -->
<div class="modal" id="myModal4">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi Available</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 24 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; King Size Bed (180mm)</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition </h5>
         <h5><i class="fa fa-tv"></i>&nbsp; HD+ LED</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-tshirt"></i>&nbsp; Laundry and dry cleaning </h5>
         <h5><i class="fas fa-glass-cheers"></i>&nbsp; Minibar</h5>
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- modal 5 -->
<div class="modal" id="myModal5">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi Available</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 24 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; Queen Size Bed</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition (not-avaliable)</h5>
         <h5><i class="fa fa-tv"></i>&nbsp; LED HD+ channels</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-tshirt"></i>&nbsp; Laundry and dry cleaning </h5>
         
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- modal 6 -->
<div class="modal" id="myModal6">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="data">
        <h5><i class="fa fa-wifi"></i>&nbsp; Wi-fi Available</h5>
        <h5><i class="fa fa-clock"></i>&nbsp; 24 Hour's Room Services</h5>
        <h5><i class="fa fa-bed"></i>&nbsp; Double Bed</h5>
        <h5><i class="fas fa-temperature-low"></i>&nbsp; Cooler</h5>
        <h5><i class="fas fa-atom"></i>&nbsp; Aircondition</h5>
         <h5><i class="fa fa-tv"></i>&nbsp; LED with all channels</h5>
         <h5><i class="fas fa-medkit"></i>&nbsp; Safe box</h5>
         <h5><i class="fas fa-tty"></i>&nbsp; Telephone</h5>
         <h5><i class="fas fa-coffee"></i>&nbsp; Coffee and tea facilities</h5>
         <h5><i class="fas fa-glass-cheers"></i>&nbsp; Minibar</h5>
         <h5><i class="fas fa-water"></i>&nbsp; Sea-Face Room</h5>
      </div>
            <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>