<div class="container">
  <h1 style="text-align:center;padding-top:30px;">Sitemap</h1>
</div>
<div class="container links">
  <ul>
    <li ><a routerLink="/home">Home</a></li>
    <li><a routerLink="/accomodation">Accomodation</a></li>
    <li><a routerLink="/foodandbeverage">Food-And-Beverage</a></li>
    <li><a routerLink="/lifestyle">Lifestyle</a></li>
    <li><a routerLink="/weddings">Weddings</a></li>
    <li><a routerLink="/offers">Offers</a></li>
  </ul><hr>
  <ul>
    <li ><a routerLink="/contactus">Contact Us</a></li>
    <li><a routerLink="/aboutus">About Us</a></li>
    <li><a routerLink="/legalnotice">Legal-Notice</a></li>
    <li><a routerLink="/sitepolicy">Site-usage & Policy</a></li>
    <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
  </ul>
</div>