<div class="container">
  <div class="data">
    <h1>About Us</h1>
    <div class="content">
      <h4>Welcome to Goa Hotel's</h4>
      <p>Goa Hotel is a leading provider of hotel accommodation worldwide, offering booking services through its own network of localised websites and telephone call centres.
        Goa Hotel gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands properties worldwide. The company offers a one-stop shopping source for hotel pricing, amenities and availability and also specialises in providing travellers with accommodation during sold-out periods.
        Goa Hotel is part of the EXPEDIA GROUP of travel companies.* Goa Hotel headquarters are located at 5400 LBJ Freeway, Suite 500, Dallas, Texas 75240, USA. The Expedia Group has office locations across India.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="data">
    <h1>Follow Us</h1>
    <div class="content1">

       <a routerLink=""><i class="fa fa-google"></i>Google</a>
      <a routerLink=""><i class="fa fa-facebook"></i>Facebook</a>
       <a routerLink=""><i class="fa fa-instagram"></i>Instagram</a>
       <a routerLink=""><i class="fa fa-phone"></i>8295716429</a>
       <a routerLink=""><i class="fa fa-youtube"></i>Youtube</a>
       <a routerLink=""><i class="fa fa-twitter"></i>Twitter </a>

    </div>
  </div>
</div>

