.data{
    padding: 20px;
}
.content{
    padding: 10px;
    margin-top: 15px;
}
.fa-facebook{
    color: #0000ff;
   
}
.fa-google,.fa-youtube{
    color: #ff0000;
   
  
}
.fa-instagram{
    color: #e28484;
    
}
.fa-facebook , .fa-google , .fa-instagram , .fa-phone,.fa-youtube,.fa-twitter{
    margin: 4px;
    font-size: 25px ;
}
.content1{
  
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  
   
}
.content1 a{
   margin: 10px;
   font-size:18px;
   text-decoration: none;
}