
<div class="full">
  <div class="container first">
    <h1>Site Usage</h1>
  </div>
  <div class="container second">
    <p>This site Wonder.Legal is created by <strong>Aman Kumar</strong>:
     <ul>
       <li> Address: CDLU,Sirsa.</li>
       <li> Business registration no.: RCS  812 328 631</li>
       <li> Publishing Director: Kapil Kaswan.</li>
       <li> VAT: **************</li>
     </ul>
     <p> Web hosting by Firebase, a simplified joint stock company headquartered at fatehabad, Haryana, India. Phone: +91 (0)8295716429.</p>
  </div>
</div>