<div class="wedding">
  <img src="../../assets/images/wedding.jpg" class="img-fluid" alt="">
</div>
<div class="sec2">
  <p>Wedding:Tie the Knots at Goa Resort</p>
  <h4>We Host different wedding Season from theme of Royal Wedding to Monsoon Wedding.
      Our Professionals are expert in Flavours of Thai Wedding Indian Wedding. <br>
      Artist From various Gharanas and Schools will make your Wedding experiance 'One fine Day OF My Life'</h4>
</div>
<div class="sec3">
  <img src="../../assets/images/hotel.jpg" alt="">
  <p>Plan Your Wedding At Goa Resort <br>
      Equitorial Paradise of India</p>
</div><br>
<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-6">
          <mat-card class="mat-card">
            <h3>Indian Weddings</h3>
            <p>Where Red is Color of Love</p> <br>
            <div class="">
             <div class="img">
               <img src="../../assets/images/wedding1.jpg" class="img-fluid offer-img "  alt="">
              </div>
             <div class="text">
              <p>Weddings in India vary regionally, the religion and per personal preferences of the bride and groom. They are festive occasions in India, and in most cases celebrated with extensive decorations, colors, music, dance, costumes and rituals that depend on the religion of the bride and the groom, as well as their preferences</p>
             </div>
             <div class="mat-btn"><button mat-button >See More...</button>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-sm-12 col-md-6">
            <mat-card class="mat-card">
                <h3>Western Wedding</h3>
                <p>Where White is Color of Peace</p> <br>
              <div class="">
                <div class="img"><img src="../../assets/images/wedding3.jpg" class="img-fluid offer-img"  alt=""></div>
                <div class="text">
                    <p>
                      Wedding practices in different cultures. Muslim wedding (Tunisia) Roman Catholic white wedding (Philippines) Same-sex civil wedding (United States) A wedding is a ceremony where two people are united in marriage. Wedding traditions and customs vary greatly between cultures, ethnic groups, religions, countries, and social classes.</p>
                 </div>
                <div class="mat-btn"><button mat-button >See More...</button>
                </div>
               </div>
            </mat-card>
            
          </div>
  </div>
  </div>
