.wedding img{
    height:500px;
    width: 100%;
    object-fit: cover;
}
#more{
    display: none;
}
.sec2{
    background: #ccc;
    text-align: center;
    height: auto;
    
}
.sec2 p{
    color:teal;     
    font-size: 32px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.sec2 h4{
    color: rgb(117, 108, 108);  
    margin: 0px;
    line-height:inherit;
    padding-left: 60px;
    padding-right: 60px;
}
.sec3 img{
    height:500px;
    width: 100%;
    object-fit: cover;
}
.sec3{
   background: url('../../assets/images/hotel.jpg');
   background-size: cover;
   min-height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
    
}
.sec3 p{
   
    font-size: 7vw;
    color: #ccc;   
    font-weight: bold; 
}
.mat-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
mat-card{
    height:auto;
   margin: 20px;
}
.text p{
    margin: 20px;
}
